.header {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    position: fixed;
    height: 50px;
    border-bottom: solid 1px #cfcfcf;
    top: 0;
    right: 0;
    left: 0;
    align-items: center;
    z-index: 1;
}

.hamburger__btn {
    display: none;
}

.nav-search {
    display: none;
}


.footer p {
    text-align: center;
    margin-top: 8px;
}


@media screen and (max-width: 480px) {

    /* header */
    .header {
        height: 40px;
    }

    .header-logo {
        margin: 5px 0;
    }

    .header-logo p {
        text-align: center;
    }


    /* hamburger */
    .hamburger__btn {
        display: block;
        width: 25px;
        height: 2px;
        position: relative;
    }

    .hamburger__btn::before {
        content: "";
        position: absolute;
        top: -10px;
        width: 100%;
        height: 100%;
        transition: .3s;
    }

    .hamburger__btn::after {
        content: "";
        position: absolute;
        top: 10px;
        width: 100%;
        height: 100%;
        transition: .3s;
    }

    .hamburger__btn.hamburger__btn--active::before {
        top: 3px;
        transform: rotate(45deg);
    }

    .hamburger__btn.hamburger__btn--active::after {
        top: 3px;
        transform: rotate(-45deg);
    }


    /* nav-search */
    .nav-search {
        display: block;
        margin-top: 40px;
    }

    .nav-search__menu {
        display: flex;
        justify-content: space-around;
    }

    .nav-search__item {
        padding: 16px 50px;
    }

    .nav-search__item input {
        display: none;
    }
}