
.header {
    display: flex;
    justify-content: space-between;
    padding: 0 30px;
    position: fixed;
    height: 50px;
    border-bottom: solid 1px #cfcfcf;
    top: 0;
    right: 0;
    left: 0;
    align-items: center;
    z-index: 1;
}


.footer p {
    text-align: center;
    margin-top: 8px;
}