.wrapper {
    width: 1200px;
    margin: auto;
    display: flex;
    margin-top: 60px;
}


/* aside */
.search-sidebar {
    width: 200px;
    float: left;
}

.total-result {
    border-radius: 8px;
    padding: 12px 5px 10px 5px;
}

/* main */
.sale {
    width: 800px;
}

.sale__list {
    display: flex;
    flex-wrap: wrap;
    row-gap: 10px;
}

.sale__item {
    width: 25%;
    position: relative;
}

.sale__item img {
    width: 100%;
}

.sale__item p {
    text-decoration: none;
    position: absolute;
    bottom: 4.5px;
    left: 9%;
    padding: 2px 5px 2px 3px;
    border-radius: 10px;
}